/* FONTS */
@font-face {
  font-family: "Nunito Sans";
  src: url("/src/assets/fonts/NunitoSans7pt-Light.woff2") format("woff2"),
       url("/src/assets/fonts/NunitoSans7pt-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/src/assets/fonts/NunitoSans7pt-Regular.woff2") format("woff2"),
       url("/src/assets/fonts/NunitoSans7pt-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/src/assets/fonts/NunitoSans7pt-SemiBold.woff2") format("woff2"),
       url("/src/assets/fonts/NunitoSans7pt-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Nunito Sans";
  src: url("/src/assets/fonts/NunitoSans7pt-ExtraBold.woff2") format("woff2"),
       url("/src/assets/fonts/NunitoSans7pt-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

/* RESET */

/* modified version of 'a more modern version of CSS reset' by Andy Bell:  */
/* https://piccalil.li/blog/a-more-modern-css-reset/ */

/* Box Sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Reset Margins */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
picture {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set up the body */
body {
  line-height: 1.5;
  min-height: 100svh;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Make forms easier to work with */
input,
button,
textarea,
select {
  font: inherit;
  color: inherit;
  letter-spacing: inherit;
}

/* Remove all default styles from buttons and links but keep the outline for keyboard accessibility */
a,
button {
  all: unset;
  outline: revert;
  cursor: pointer;
}

/* Remove animations for those who have reduced motion settings on */
/* From sanitize.css */
/* https://github.com/csstools/sanitize.css/blob/main/reduce-motion.css */
@media (prefers-reduced-motion: reduce) {
  *,
  *::before,
  *::after {
    animation-delay: -1ms !important;
    animation-duration: 1ms !important;
    animation-iteration-count: 1 !important;
    background-attachment: initial !important;
    scroll-behavior: auto !important;
    transition-delay: 0s !important;
    transition-duration: 0s !important;
  }
}

/* CUSTOM PROPERTIES */
:root {
  --clr-primary: #f2f2f2;
  --clr-secondary: #ffffff;
  --clr-font: #111517;
  --clr-box-shadow: lightgray;
  --clr-placeholder: #797979;
  --clr-focus: black;
}

[data-theme="dark"] {
  --clr-primary: #202c36;
  --clr-secondary: #2b3844;
  --clr-font: #ffffff;
  --clr-box-shadow: #1c2727;
  --clr-placeholder: #c5c5c5;
  --clr-focus: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --clr-primary: #202c36;
    --clr-secondary: #2b3844;
    --clr-font: #ffffff;
    --clr-box-shadow: #1c2727;
    --clr-placeholder: #f2f2f2;
    --clr-focus: white;
  }
}

/* UTILITY CLASSES */
.container {
  margin: 0 auto;
  padding-right: 1rem;
  padding-left: 1rem;
}

@media only screen and (min-width: 50em) {
  .container {
    max-width: 80em;
    padding-right: 5rem;
    padding-left: 5rem;
  }
}

.block {
  display: block;
}

.bg-main {
  background-color: var(--clr-primary);
}

.bg-accent {
  background-color: var(--clr-secondary);
}

.text-clr {
  color: var(--clr-font);
}

/* TODO: Think about how to organize text-clr throughout the project - there must be a better way than sprinkling class names to elements like font weight or size -- put it in MainLayout div along with bg-main? */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

.italic {
  font-style: italic;
}

.fw-300 {
  font-weight: 300; /* light */
}
.fw-400 {
  font-weight: 400; /* regular */
}
.fw-600 { 
  font-weight: 600; /* semibold */
}
.fw-800 {  
  font-weight: 800; /* extrabold */
}

.fs-12-14 { font-size: 0.75rem }
.fs-12-16 { font-size: 0.75rem }
.fs-14 { font-size: 0.875rem }
.fs-14-16 { font-size: 0.875rem }
.fs-16 { font-size: 1rem }
.fs-18 { font-size: 1.125rem }
.fs-14-24 { font-size: 0.875rem }
.fs-22-32 { font-size: 1.375rem }

@media only screen and (min-width: 50em) {
  .fs-12-14 { font-size: 0.875rem }
  .fs-12-16 { font-size: 1rem }
  .fs-14-16 { font-size: 1rem }
  .fs-14-24 { font-size: 1.5rem }
  .fs-22-32 { font-size: 2rem }
}

/* GENERAL STYLES */
:root {
  font-family: "Nunito Sans", sans-serif;
  /* TODO: remove this property after you're done */
  /* font-size: 150%; */
  letter-spacing: -.05rem;
}

.layout-wrapper {
  min-height: 100svh;
}

main {
  padding-bottom: 3.75rem;
}

/* COMPONENTS */
/* Header */
.main-header {
  padding: 1.875rem 0;
  box-shadow: 2px 2px 15px -5px var(--clr-box-shadow);
}

.main-header > .container {
  display: flex;
  justify-content: space-between;
  gap: .25rem;
}

.clr-mode-btn {
  text-align: right;
  padding: .5rem 1rem;
  margin-top: -.35rem;
  margin-right: -.75rem;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
}

.clr-mode-btn-icon {
  margin-right: .5rem;
  font-size: 1rem;
}

/* SearchBar */
.searchbar {
  border-radius: .3em;
  overflow: hidden;
  margin: 1.5rem 0;
  box-shadow: 2px 2px 15px -5px var(--clr-box-shadow);
  max-width: 30em;
  display: flex;
  align-items: center;
}

.searchbar-icon {
  padding-left: 2rem;
}

.searchbar-input {
  border: none;
  background-color: inherit;
  padding: 1rem 1rem 1rem 1.625rem;
  width: 100%;
}

.searchbar-icon,
.searchbar-input::placeholder {
  color: var(--clr-placeholder);
}

.searchbar-input:focus {
  outline: none;
}

.searchbar:focus-within {
  outline: 2px solid var(--clr-font);
}

/* SelectList */
/* !important flags are needed to overwrite default styles of the Select element */
.select-container {
  width: 17em !important;
}

.select-container > * {
  background-color: var(--clr-secondary) !important;
  border: none !important;
}

.select-container * {
  color: inherit !important;
}

.select__control {
  padding: .435rem .5rem .435rem .75rem !important;
} 

.select__control--is-focused {
  box-shadow: 0 0 0 2px var(--clr-focus) !important;
}

.select__placeholder,
.select__dropdown-indicator {
  color: var(--clr-font) !important;
}

.select__indicator-separator {
  display: none;
}

.select__dropdown-indicator {
  width: 2.5em;
}

.select__menu {
  margin-top: .25rem !important;
  padding: .25rem 0 !important;
  width: calc(17em + 6px) !important;
  transform: translateX(-3px);
}

.select__option {
  padding: .4rem 1.5rem !important;
}

/* FormWrapper */
@media only screen and (min-width: 50em) {
  .form-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .form-wrapper > *:first-child {
    flex-basis: 100%;
  }
}

/* CountriesDisplay */
.display-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  margin-top: 2rem;
}

.country-card {
  flex-basis: 14em;
  flex-grow: 1;
  max-width: 18em;
  border-radius: .25em;
  overflow: hidden;
  cursor: pointer;
}

.country-card__flag {
  width: 100%;
  aspect-ratio: 264 / 160;
  object-fit: cover;
}

.country-card__name {
  margin: 1.5rem 1rem 0 1.5rem;
}

.country-card__info {
  margin: 1rem 1.5rem 2.875rem;
}

/* DetailPage */
.country-details-container {
  margin: 2.5rem 0.75rem 0;
}

.back-btn {
  padding: 0.45em 1.7em;
  border-radius: .25em;
  box-shadow: 0 0 0.3125em 0.1875em var(--clr-box-shadow);
}

.back-btn-icon {
  margin-right: 0.6em;
}

.country-details__flag {
  width: 100%;
  margin-top: 4rem;
  border-radius: .4em;
}

.country-details__title {
  margin-top: 2.75rem;
}

.country-details__info-flex {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 1rem;
  justify-content: space-between;
}

.country-details__info-col {
  margin-top: 1rem;
}

.country-details__info {
  margin-top: .5rem;
}

.country-details__borders {
  margin-top: 2.125rem;
}

.country-details__border-links {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
}

.country-details__border-link {
  width: fit-content;  
  padding: .5rem 2rem;
  border-radius: .25em;
  box-shadow: 0 0 .5em .125em var(--clr-box-shadow);
  display: flex;
  align-items: center;
}

@media only screen and (min-width: 32em) {
  .country-details-grid {
    width: 70%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 60em) {
  .country-details-container {
    margin: 5rem 0rem 0;
  }

  .back-btn {
    padding: 0.65em 2.5em;
  }

  .country-details-grid {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10%;
  }

  .country-details__flag {
    border-radius: .6em;
    object-fit: contain;
    max-width: 560px;
  }

  .country-details__title {
    margin-top: 5rem;
  }

  .country-details__info-flex {
    gap: 1rem;
    justify-content: space-between;
  }
}